# Configurações do Servidor
PORT=3001
NODE_ENV=production

# Base de Dados (Supabase PostgreSQL)
DATABASE_URL=postgres://user:password@hostname:5432/postgres

# Base de Dados (GLPI MySQL)
GLPI_HOST=172.21.10.23
GLPI_PORT=3306
GLPI_USER=gabrieljoffre
GLPI_PASSWORD=Log@2026!
GLPI_DATABASE=glpidb
